/* - Reset - */
body{
	margin: 0;
	background-color: #eee;
	font-family: sans-serif;
	color: #333;
}
a{
	font-weight: bold;
	text-decoration: none;
	color: #1d70a2;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/* - Header - */
body > header{
	background-color: #fff;
	box-shadow: #aaa 0 3px 5px;
	color: #a0dd1c;
}
header > h1{
	text-align: center;
	padding-top: 20px;
	text-shadow: 0 0 3px #eee;
}
nav{

}
header a{
	color: inherit;
}
nav a{
	-webkit-transition: all .3s;
	transition: all .3s;
	display: inline-block;
	padding: 10px;
	border: 1px transparent solid;
}
nav a:hover {
	border-color: #efefef;
}

/* - Main Content - */
main{
	padding: 10px 40px;
}

/* - Recipe - */
section > header{
	border-bottom: 1px solid #ccc;
}
section nav{
	float: right;
}
section header:after{
	clear: both;
	display: block;
	content: "";
}
section h2{
	float: left;
}
section{
	margin: 10px auto;
	padding: 10px;
	background-color: #fff;
	border: #ccc solid 1px;
	-webkit-transform: rotateX(5deg);
	        transform: rotateX(5deg);
	box-shadow: 0 0 3px #ccc;
}
.ingredients{
	padding-left: 10px;
}
.ingredients:first-child{
	border-left: none;
	margin-left: 0;
}
.ingredients li{
	margin: 5px;
	margin-right: 0;
	padding-left: 5px;
}

.quantity, .units{
	margin-left: 5px;
}
/* I'm using disabled options as labels: http://stackoverflow.com/questions/899148/html-select-option-separator */
.units option[disabled]{
	color: #a0dd1c;
	font-weight: bold;
}
.quantity, .servings{
	width: 3em;
}

/* - Edit Mode - */
.add-ingredient{
	visibility: hidden;
}
.edit-mode .add-ingredient{
	visibility: visible;
}
[contentEditable]{
	border: 1px solid #ffcd99;
}
