<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Recipe Box</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
	<h1>Recipe Box</h1>
	<nav>
		<a id="add-recipe" href="#">+ Add a Recipe +</a>
	</nav>
</header>
<main>
  ${recipes.map(recipe => `
    <section class="recipe" id="${recipe._id}">
      <header>
        <h2 class="title">${recipe.title}</h2>
        <nav>
          <button class="add-ingredient">Add Ingredient</button>
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
          <label>Servings:<input class="servings" type="number" name="servings" value="${recipe.servings}"></label>
        </nav>
      </header>
      <ul class="ingredients">
        ${recipe.ingredients.map(ingredient => `
          <li>
            <span>${ingredient.name}</span>
            <input class="quantity" type="number" disabled="true" step="0.01" value="${ingredient.quantity}"/>
            <select class="units" disabled="true">
              <option disabled>Volume</option>
                <option${ingredient.units == "Cups" ? ' selected':''}>Cups</option>
                <option${ingredient.units == "Tablespoon" ? ' selected':''}>Tablespoon</option>
                <option${ingredient.units == "Teaspoon" ? ' selected':''}>Teaspoon</option>
              <option disabled>Weight</option>
                <option${ingredient.units == "Pound" ? ' selected':''}>Pound</option>
              <option disabled>Fluid</option>
                <option${ingredient.units == "Ounce" ? ' selected':''}>Ounce</option>
                <option${ingredient.units == "Pint" ? ' selected':''}>Pint</option>
                <option${ingredient.units == "Quart" ? ' selected':''}>Quart</option>
                <option${ingredient.units == "Gallon" ? ' selected':''}>Gallon</option>
              <option disabled>Misc.</option>
                <option${ingredient.units == "Unitless" ? ' selected':''}>Unitless</option>
            </select>
          </li>
          `).join('')}
      </ul>
      <p class="details">This is the recipe's instructions.  They are probably pretty long and have lots of intricate details.  Yea, more power to you instructions.</p>
    </section>
    `).join('')}
</main>

<script src="/js/index.js"></script>
</body>
</html>
